/*
Fonts: 
Roboto, sans-serif

Colours: 
Background
#e0def4

Contact Cards: 
#c4a7e7

Nav Bar: 
#3e8fb0

*/
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  color: yellow;
}

body {
  background-color: #e0def4;
}

.grid_container {
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  column-gap: 10%;
  position: relative;
  left: 25%;
  top: 200px;
  margin: 15px;
}

#gItem {
  position: relative;
  text-align: left;
  width: 150px;
  height: 100px;
  background-color: #c4a7e7;
}
#vItem {
  font-family: "Roboto", sans-serif;
  font-size: 75%;
  align-items: center;
  margin: 10%;
}
.nav {
  display: inline-flexbox;
  width: 25%;
  height: 100%;
  background-color: #3e8fb0;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  /*
    Text Atrriubtes
    */
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.makeC {
  display: inline-flexbox;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 30%;
}
#cImages {
  position: relative;
  left: 7%;
  max-width: 10%;
  max-height: auto;
  border-radius: 50%;
}

.cInfo {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-columns: 1fr;
  row-gap: 15%;
  /*
  Input Box settings
  */
  width: 25%;
}
.cInput {
  border-radius: 4%;
}
.cButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 32%;
}

@media screen and (max-width: 600px) {
  .grid_container {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    row-gap: 25%;
    position: fixed;
    padding-left: 0;
    top: 20%;
  }
  #vItem {
    font-size: 100%;
  }
  .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
  }
  #cImages {
    position: relative;
    left: 12%;
  }
  .makeC {
    display: inline-flexbox;
    align-items: center;
    position: relative;
    top: 125px;
    left: 30%;
  }
  .cButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 30%;
    left: 32%;
  }
}
