/*
Fonts: 
Roboto, sans-serif

Colours: 
Background
#e0def4

Contact Cards: 
#c4a7e7

Nav Bar: 
#3e8fb0

*/
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover {
    color: yellow;
}

body {
  background-color: #e0def4;
}

.grid_container {
  display: inline-grid;
  align-items: center ;
  grid-template-columns: auto auto auto;
  column-gap: 10%;
  position: relative;
  left: 25%;
  top: 200px;
  margin: 15px;
}

#gItem {
  position: relative;
  text-align: left;
  width: 150px;
  height: 100px;
  background-color: #c4a7e7;
}
.nav {
  display: inline-flexbox;
  width: 25%;
  background-color: #3e8fb0;
  position: fixed;
  overflow: auto;
  height: 100%;
  top: 0;
  left: 0;
  /*
    Text Atrriubtes
    */
  align-items: center;
  font-family: "Roboto", sans-serif;
}
#vItem {
    align-items: center;
    margin: 10%;
}
@media screen and (max-width: 600px){
    .grid_container{
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        row-gap: 25%;
    }
}
